.user-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .login-banner {
    height: 400rpx;
    background: greenyellow;
  }
  .middle-box {
    flex: 1;
    height: 50vh;
    background: #fff;
    border-radius: 16rpx;
    .title {
      text-align: center;
      line-height: 100rpx;
    }
  }

  .fill-auto {
    .label {
      font-size: 32rpx;
    }
    .value {
      margin-left: 30rpx;
      font-size: 32rpx;
      color: #ccc;
    }
    .success-icon {
      color: rgb(10, 195, 10);
      float: right;
      margin-top: 10rpx;
      font-size: 40rpx;
    }
    .use-other {
      margin-top: 20rpx;
      padding: 10rpx 40rpx;
      font-size: 32rpx;
      color: rgb(84, 84, 255);
    }
    .foot-operations {
      text-align: center;
      margin-top: 50rpx;
      .btn {
        display: inline-block;
        width: 200rpx;
        margin: 0 50rpx;
        text-align: center;
      }
    }
  }
  .fill-manual {
    .agreement {
      text-align: center;
      padding: 20rpx 40rpx;
      .agreement-text {
        font-size: 32rpx;
      }
    }

    .foot-operations {
      margin-top: 40rpx;
      padding: 0 40rpx;
    }
  }
}

.launchScreen {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  .main {
    width: 150rpx;
    height: 150rpx;
    // border-radius: 50%;
    overflow: hidden;
    background: url("http://static.timingbio.com/frontend/%E9%A3%9E%E4%B9%A620220129-144431.jpg");
    background-size:100% 100%;
  }
}
