.logistics-index {
  background: var(--g-background-color);
  min-height: 100vh;

  .item {
    background-color: #fff;
    overflow: hidden;
  }
  .cancelSend {
    width: calc(100% - 64rpx);
    display: block;
    margin: 32rpx auto;
  }

  .line {
    height: 32rpx;
    width: 100%;
    background-color: var(--g-background-color);
  }
}
